<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDA-fnQ4ak1fGreK5e6g30l1g796kwsLVc</string>
	<key>GCM_SENDER_ID</key>
	<string>710121217510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sivakumar.TableSwift</string>
	<key>PROJECT_ID</key>
	<string>tableviewswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>tableviewswiftui.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710121217510:ios:eca7749046cec130aaca27</string>
</dict>
</plist>